// ベース色
$color-black:#000;
$color-white:#fff;
$color-accent:#F39800;

// 背景色
$color-bg-main:#FAFAFA;
$color-bg-header:#002345;
$color-bg-pagination:#002345;
$color-bg-footer:#1F1F1F;
$color-bg-light:#707070;
$color-bg-number:#002345;

// 文字色
$color-ft-light:#FDFDFD;
$color-ft-dark:#333333;
$color-ft-main:#002345;

// 傍線
$color-border:#707070;
$coro-border-box:#002345;

// SNS
$color-twitter:#1DA1F2;
$color-facebook:#3B5998;
$color-line:#00C300;
$color-pocket:#EF3F56;

//ボタン
$color-btn-404 :#EBEBEB;